@charset "utf-8";

@use 'bulma/sass' with (
  $section-padding: 2rem 1.5rem,
  $table-cell-padding: 0.75em 0.75em
);

.u-grow {
  flex: 1;
}

:root {
  --success: var(--bulma-success);
  --danger: var(--bulma-danger);
  --grey: var(--bulma-grey);
}
