.container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.75rem;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    border-left: 4px solid transparent;
  }
}

.win {
  &::before {
    border-left-color: var(--success);
  }
}

.lose {
  &::before {
    border-left-color: var(--danger);
  }
}

.draw {
  &::before {
    border-left-color: var(--grey);
  }
}

.teamsContainer {
  flex: 1;
  padding-right: 0.75rem;
  border-right: 1px solid #eee;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  min-width: 0;
}

.dateContainer {
  display: flex;
  flex: 0 1 auto;
  min-width: 0;
}
