.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.teamsContainer {
  flex: 1;
  padding-right: 0.75rem;
  border-right: 1px solid #eee;
}

.team {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  min-width: 0;
}

.dateContainer {
  display: flex;
  flex: 0 1 auto;
  min-width: 0;
}
