@import "../../node_modules/bulma/sass/utilities/_all.sass";

.subMenuTwoColumns {
  display: flex;
  flex-wrap: wrap;
}

.subMenuNavbarItem {
  width: 50%;
}

@include desktop {
  .subMenuTwoColumns {
    min-width: 350px;
  }
}
