@import "../../node_modules/bulma/sass/utilities/_all.sass";

.navbarBurger {
  flex: 0 0 auto;
}

@include desktop {
  .subMenu {
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
  }

  .subMenuNavbarItem {
    width: 50%;
  }
}
