@charset "utf-8";

@use 'bulma/sass' with (
  $section-padding: 2rem 1.5rem,
  $table-cell-padding: 0.75em 0.75em
);

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Inter-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Inter-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Inter-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Inter-ExtraBold.woff2) format('woff2');
}

.u-grow {
  flex: 1;
}

:root {
  --success: var(--bulma-success);
  --danger: var(--bulma-danger);
  --grey: var(--bulma-grey);
}
